.container-fluid{
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}
.mat-form-field {
    width: 100%;
}
.avatar{
    text-align: center;
}
.avatar-img{
    height: 170px;
    width: 210px;
}